<%-include('../partial/header.ejs')-%>
<%-include('../partial/navbar.ejs')-%>
<div class="continer">
    <div class="row mt-4">
        <div class="col-md-9 offset-md-2">
            <h1 class="display-4">Login</h1>
            <hr>
            <%-include('../partial/falshmessages.ejs')-%>
            <form action="/user/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%-include('../partial/footer.ejs')-%>
